name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['2.7']
        activerecord: ['5.2', '6.0', '6.1']
    name: ruby${{ matrix.ruby }} activerecord${{ matrix.activerecord }}
    env:
      BUNDLE_GEMFILE: gemfiles/activerecord_${{ matrix.activerecord }}.gemfile
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rspec
